/* Default CSS template for each page */

.default{
    overflow: hidden;
    position: relative;
    font-size: 100%;
    font-family: Times New Roman, serif;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

header{
    background-color: #330000;
    background-repeat: no-repeat;
    background-position: left;
    color: #FFCC00;
    font-size: 30px;
    font: Times New Roman;
    text-align: center;
    height: 100px;
    width: 100%;
    line-height: 100px;
    padding: 5px 0;
}

#title{
    display: inline;
    color: #FFCC00;
    font: Times New Roman;
    padding: 1em;
}

#subtitle{
    display: inline;
    color: #FFFFFF;
    font: Times New Roman;
}

nav{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    color: #999999;
    width: 100%;
    height: 44px;
    padding: 1em;
}

nav a{
    display: inline;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding-right: 1em;
    padding-left: 1.5em;
    line-height: 44px;
    user-select: none;
}

nav a:link { color: #999999; }
nav a:visited { color: #330000; }
nav a:hover { color: #FFCC00; }

nav ul{
    list-style-type: none; 
}

main{
    position: static;
    margin-top: 5em;
    margin: 3em;
}

footer{
    position: static;
    background-color: #330000;
    color: #FFFFFF;
    text-align: center;
    vertical-align: center;
    width: 100%;
    height: auto;
    padding: 1em;
    
}

.logo {
  height: 50px;
  background-color: white;
}

.mobile{
    display: none;
}

@media only screen and (max-width: 1200px){
    .desktop{
        display: none;
    }
    
    .mobile{
        display: contents;
    }

    #subtitle{
        display: none;
    }

    nav{
        padding-bottom: 3em;
    }

    #navbar{
        display: flex;
        justify-content: center;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
        width: 100%;
        line-height: normal;
    }
}