/* Default CSS template for each page */

.default{
    overflow: hidden;
    position: relative;
    font-size: 100%;
    font-family: Times New Roman, serif;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

header{
    display: inherit;
    background-color: #330000;
    background-repeat: no-repeat;
    background-position: left;
    color: #FFCC00;
    font-size: 30px;
    font: Times New Roman;
    text-align: center;
    height: 100px;
    width: 100%;
    line-height: 100px;
    padding: 5px 0;
}

nav{
    color: #999999;
    width: 100%;
    height: 44px;
    padding: 1em;
}

nav a{
    display: inline;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding-right: 1em;
    padding-left: 1.5em;
    line-height: 44px;
    user-select: none;
}

nav a:link { color: #999999; }
nav a:visited { color: #330000; }
nav a:hover { color: #FFCC00; }

nav ul{
    list-style-type: none; 
}

main{
    position: relative;
    margin-left: 3em;

}

footer{
    position: relative;
    background-color: #330000;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 1em;
    
}

#title{
    display: inline;
    color: #FFCC00;
    font: Times New Roman;
    padding: 1em;
    
}

#subtitle{
    display: inline;
    color: #FFFFFF;
    font: Times New Roman;
}

#wrap-body{  
    min-height: 25em;
}

#description{
    font-size: 24px;
    text-align: center;
}

.hours-of-operation {
    float: left;
    padding: 1em;
    padding-left: 10em;
}

.contact-info {
    float: right;
    padding: 1em;
    padding-right: 10em;
}

.grubhub-logo {
  height: 50px;
}

.mobile{
    display: none;
}

@media only screen and (max-width: 1024px){
    .desktop{
        display: none;
    }
    
    .mobile{
        display: contents;
    }
    
    header{
        height: 200px;
        padding-left: 2em;
        padding-right 2em;
    }
    
    .hours-of-operation {
        float: none;
        padding: 1em;
        padding-left: 5em;
        padding-right: 5em;
    }

    .contact-info {
        float: none;
        padding: 1em;
        padding-left: 5em;
        padding-right: 5em;
    }
}