/* Specific CSS for the index.html page */

th{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 24px;
}

table{
    text-align: center;
    padding-bottom: 1em;
    font-size: 20px;
}

.entradas{
    display: none;
}

.ensaladas{
    display: none;
}

.menu-img{
    align-content: center;
    padding: 5em;
}